<html>
    {% load static %}
    {% load i18n %}
    <head>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
        <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/datepicker.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


        <title>Wallet Saver Top Flats</title>
    </head>

    <body>
        <div class="container center">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <div id="alertmessage" class="alert alert-warning alert-dismissible fade in hidden" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <strong id="errormessage">{% trans "Something happened!!" %}</strong>
                    </div>
                     <div class="input-group col-lg-2 pull-right date">
                        <input type="text" class="form-control" />
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title">{% trans "Top flats per month" %}</h3>
                        <div id="chartFlats" style="height: 280px;"></div>

                        <h3 class="panel-title">{% trans "Top carrier" %}</h3>
                        <div id="chartCarrier" style="height: 280px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/lib/bootstrap.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap-datepicker.js' %}"></script>
        <script src="{% static 'js/monthpicker.js' %}"></script>
        <script src="{% static 'js/chart.js' %}"></script>
    </body>
</html>

